## 2. Cities in Sweden - real dataset

Download the file komtopp50_2020.xlsx from the course github repo. The data is taken from SCB. 

&nbsp; a) Read in the tab "Totalt" into a DataFrame and start exploring the data with some simple explorations such as

```python
df.head()
df.info()
df.describe()
```

Feel free to do more explorations. (*)

In [5]:
import pandas as pd

df = pd.read_excel("../../data/komtopp50_2020.xlsx")

df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,"Sveriges 50 största kommuner efter folkmängd,",NaN,NaN,NaN,NaN,NaN
2,31 december 2020 jämfört med 31 december 2019,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang,NaN,Kommun,Folkmängd 31 december,NaN,Förändring

&nbsp; b) Clean your data so that the head looks like this: (*)


|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|
|  0 |          83 |          84 | Ale      |            31868 |            31402 |     1.48398  |
|  1 |          64 |          64 | Alingsås |            41602 |            41420 |     0.439401 |
|  2 |         123 |         123 | Alvesta  |            20224 |            20134 |     0.447005 |
|  3 |         255 |         255 | Aneby    |             6821 |             6848 |    -0.394276 |
|  4 |         169 |         167 | Arboga   |            14039 |

In [28]:
# Need to remove first five lines

clean_df = df.iloc[6:].rename(columns={"Unnamed: 0": "Rang 2020", "Unnamed: 1": "Rang 2019", "Unnamed: 2": "Kommun", "Unnamed: 3": "Folkmängd 2020", "Unnamed: 4": "Folkmängd 2019", "Unnamed: 5": "Förandring"}).sort_values(by="Kommun").reset_index(drop=True)

clean_df["Rang 2019"] = clean_df["Rang 2019"].astype(int)

clean_df.head()

  Rang 2020  Rang 2019      Kommun Folkmängd 2020  Folkmängd 2019 Förandring
0        47         46    Borlänge          52394         52590.0       -196
1        13         13       Borås         113714        113179.0        535
2        22         21    Botkyrka          94847         94606.0        241
3        15         15  Eskilstuna         106975        106859.0        116
4        40         40       Falun          59528         59406.0        122